html, body {
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

.navbar{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 8%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: space-between;
}

.nav-section{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  align-self: center;
}

.nav-item{
  color: inherit;
  text-decoration: none;
}

.menu-item{
  margin-left: 4%;
}

#logo{
  margin-left: 5%;
  font-weight: bolder;
}

#menu {
  width: 50%;
  font-weight: lighter;
  font-size: 1em;
}

#auth{
  margin-right: 5%;
  font-weight: lighter;
}

.center-box{
  text-align: center;
  position: relative;
  top: 30vh;

  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.bottom-box{
  text-align: center;
  position: relative;
  top: 70vh;

  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.title{
  font-weight: bold;
  font-size: 3.5vw;
}

.subtitle{
  position: relative;
  top: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
}

.button{
  position: relative;
  top: 5vw;
  margin: auto;

  width: 10%;
  height: 4.5vh;
  line-height: 4.5vh;

  background-color: #FCB443;
  
  font-weight: bold;
  font-size: 0.8vw;
  color: black;

  border-radius: 3px;
}

.link-text{
  font-size: 0.6vw;
  font-weight: bold;
}

.link-icon{
  margin-top: 1vh;
}

#main {
  background-image: url('../assets/bg-main.jpg');
  background-size: cover;
}

#game-desc{
  background-image: url('../assets/bg-game-desc.jpg');
  background-size: cover;
}

#features{
  background-image: url('../assets/bg-features.jpg');
  background-size: cover;
}

#system-req{
  background-image: url('../assets/bg-system-req.jpg');
  background-size: cover;
}

#top-score{
  background-image: url('../assets/bg-top-score.jpg');
  background-size: cover;
}

#footer{
  background-image: url('../assets/bg-footer.jpg');
  background-size: cover;
}
