html, body {
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

#main {
  background-image: url('../assets/bg-main.jpg');
  background-size: cover;
}

#game-desc{
  background-image: url('../assets/bg-main.jpg');
  background-size: cover;
}

#features{
  background-image: url('../assets/bg-main.jpg');
  background-size: cover;
}

#system-req{
  background-image: url('../assets/bg-main.jpg');
  background-size: cover;
}

#top-score{
  background-image: url('../assets/bg-main.jpg');
  background-size: cover;
}

#footer{
  background-image: url('../assets/bg-main.jpg');
  background-size: cover;
}
